<h1 id="tableLabel">Sleeves \ Trousers alterations</h1>

<div>
  <div style="float: left;">List of all customers alteratons</div>
  <div style="float: right" [routerLinkActive]="['link-active']">
    <button class="green nav-item nav-link-edit" [routerLink]="['/alterations/new']">Create new alteration</button>
  </div>
</div>

<p *ngIf="!alterations"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="alterations">
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Shorten sleeves</th>
      <th>Shortem trousers</th>
      <th>Creation Date</th>
      <th>Order state</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alteration of alterations">
      <td>{{ alteration.customerId }}</td>
      <td>{{ alteration.shortenSleeves | shortening }}</td>
      <td>{{ alteration.shortenTrousers | shortening }}</td>
      <td>{{ alteration.creationDate | date:'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ alteration.state }}</td>
      <td>
        <button [routerLink]="['/alterations/view', alteration.id]">View</button>
      </td>
    </tr>
  </tbody>
</table>
